*{
	margin: 0px;
	padding: 0px;
}
.outerbox{
	border: solid 1px;
	height: 140px;
	display: flex;

}
#box1,#box2,#box3{
	border: solid 1px;
	height: 140px;
}
#box1{
	width: 200px;
}
#box2{
	width: 980px;
	text-align: center;
	background-color: #7ba832;
}
#box3{
	width: 200px;
}
#clgname{
	color: red;
	font-size: 35px;
}
#text1{
	font-size: 26px;
	font-weight: bold;
}
#text2{
	font-size: 30px;
	font-weight: bold;
	color: navy;
}
#scrolltext{
	font-size: 23px;
	font-weight: bold;
}
.nav{
	border: solid 1px;
	height: 48px;
}
ul li{
	border: solid 1px;
	height: 48px;
	width: 179px;
	float: left;
	text-align: center;
	line-height: 48px;
	background-color: #a832a4;
}
ul{
	list-style: none;
}
ul li a{
	color: white;
	font-size: 22px;
	text-decoration: none;
}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
}
.obox{
	border: solid 1px;
	height: 330px;
	display: flex;
	justify-content: space-between;
}
#in1,#in2,#in3{
	border: solid 1px;
	height: 330px;
	z-index: -1;
}
#in1{
	width: 650px;
	background-image: url(img3.jpg);
	background-repeat: no-repeat;
	background-size: 650px 330px;
	animation-name: imgchange;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes imgchange{
10%{
	background-image: url(img2.jpg);
}
20%{
	background-image: url(img1.jpg);
}
30%{
	background-image: url(img4.jpg);
}
40%{
	background-image: url(img5.jpg);
}
50%{
	background-image: url(img6.jpg);
}
}
#in2,#in3{
	width: 300px;
}
#placements{
	border: solid 1px;
	height: 300px;
}
.header{
	border: solid 1px;
	height: 50px;
	background-color: orange;
line-height: 50px;
	padding-left: 110px;


}
#head1{
	padding-right: 36px;
	color: white;
	font-size: 23px;
	text-decoration: none;
}
.out{
	border: solid 1px;
	height: 450px;
	display: flex;
}
#ug,#pg{
	border: solid 1px;
	height: 430px;
	border-radius: 20px;

}
#ug,#pg{
	width: 670px;
	margin: 10px;
}
#courses{
	border: solid 1px;
	height: 30px;
	margin: 20px;
	border-radius: 20px;
	padding-left: 18px;
	line-height: 30px;
	background-color: bisque;
	font-size: 20px;
	font-weight: bold;
}
#ug{
	background-color: blue;
}
#courses:hover{
	background-color: red;
}


#pg{
	background-color: blue;
}
#courses:hover{
	background-color: red;
}
ul li:hover{
	background-color: navy;
}
